.booking-container {
  max-width: 1000px;
  margin: 10px auto;
  background-color: #fcffa6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

.top {
  float: right;
}

.status {
  max-width: 150px;
  color: black;
  font-size: 15px;
  padding: 5px;
  border-radius: 0.2rem;
  text-align: center;
}

.Pending {
  background-color: #eaff4d;
}

.Approved {
  background-color: #55ff88;
}

.Rejected {
  background-color: #ff7766;
}

.Booked {
  background-color: #ff7766;
}
