$titleColor: #660000;
$primaryColor: #f56038;
$navColor: #4b63b5;
$hallColor: #fcffa6;
$available: #00c851;
$selected: #b7c9e9;
$booked: #ff7766;

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: $navColor;
  padding: 10px 5px;

  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
  }

  ul li {
    cursor: pointer;
    color: white;
    margin: 2px 8px;
  }
}

.secondary {
  background-color: black;
}

.hall-title {
  text-align: center;
  color: $titleColor;
}

.hall-tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 950px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: $hallColor;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.3rem;

  .title {
    flex-basis: 80%;
    text-transform: uppercase;
    font-size: 25px;
  }

  .price {
    flex-basis: 20%;
    font-size: 30px;
  }

  .capacity {
    flex-basis: 10%;
    font-size: 20px;
  }

  .type {
    text-transform: uppercase;
    flex-basis: 70%;
    font-size: 20px;
    color: $primaryColor;
  }

  .address {
    width: 700px;
    line-height: 1.5;
  }

  .status {
    flex-basis: 20%;
    max-width: 90px;
    color: black;
    padding: 5px;
    font-size: 15px;
    border-radius: 0.2rem;
    text-align: center;

    &.Available {
      background-color: $available;
    }

    &.Selected {
      background-color: $selected;
    }

    &.Booked {
      background-color: $booked;
    }
  }

  .edit {
    width: 90px;
  }
}

.mr-2 {
  margin-right: 5px;
}

.primary {
  background-color: $primaryColor;
}
