$primaryColor: #f56038;
$titleColor: #660000;
$warning: #dc3545;
$formColor: #fcffa6;
$selectControl: #ccc;

label {
  font-size: 16px;
  font-weight: 600;
}
.ml-2 {
  margin-left: 10px;
  color: $titleColor;
}

.form-control {
  margin-top: 10px;
  display: block;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid rgb(163, 155, 155);
  padding: 0.5rem;
  box-sizing: border-box;
}

.profile-container {
  max-width: 750px;
  margin: 10px auto;
  padding: 25px;

  h2 {
    text-transform: uppercase;
    color: $titleColor;
  }
}

button {
  display: inline-block;
  margin: 10px 5px;
  border: none;
  height: 2.5rem;
  padding: 10px;
  color: white;
  border-radius: 0.2rem;
}

.primary {
  background-color: $primaryColor;
}

.form-container {
  margin: 10px;
  padding: 20px;
  background-color: $formColor;
  flex-basis: 50%;
  border-radius: 0.2rem;

  h2 {
    text-transform: uppercase;
    color: $titleColor;
  }

  p {
    margin-left: 30px;
    font-size: 18px;

    .profile-signin {
      margin-left: 10px;
    }
  }
}

.radio-control {
  display: inline-block;
  margin-top: 10px;

  input {
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
  }
}

.select-control {
  display: block;
  margin: 0.5rem 0;
  height: 2.5rem;
  border: 1px solid $selectControl;
  width: 100%;
  padding: 0.2rem;
}

.error {
  margin: 0.5rem 0;
  font-size: small;
  color: $warning;
  font-weight: bold;
}

button {
  cursor: pointer;
}
