$sideNavColor: #111;
$filterColor: #ccc;
$navColor: #eee;
$navLinkColor: #f2f2f2;
$navHoverColor: #ddd;

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#sideMenu {
  width: 250px;
}

#close-sidemenu {
  width: 0px;
}

.main {
  margin-left: 250px;
  height: 100vh;
  overflow-y: scroll;
}

.close-main {
  margin-left: 0px;
}

.icon {
  color: black;
}

.navbar {
  background-color: $navColor;
  overflow: hidden;
  height: 65px;

  span {
    color: black;
  }
}

.sidebar-content {
  position: relative;
}

.side-nav {
  background: $sideNavColor;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.9;
  transition: 0.3s;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0px;
  }

  .external {
    background-color: green;
  }

  .filter {
    padding: 10px 20px 10px 30px;
    font-size: 20px;
    color: $filterColor;
    display: block;
    transition: 0.2s;

    .filter-input {
      height: 30px;
      box-sizing: border-box;
    }

    .filter-select {
      height: 25px;
      width: 100%;
      font-size: 14px;
    }
  }
}

$small: 480px;
$medium: 720px;

.main {
  @media screen and (max-width: $medium) {
    margin-left: 0;
  }
}

.side-nav {
  @media screen and (max-width: $medium) {
    position: static;

    .filter {
      padding: 10px 20px 10px 30px;
      font-size: 1.3rem;
      color: $filterColor;
      display: block;
      transition: 0.2s;

      h4 {
        margin: 1rem 0;
      }

      .filter-input {
        width: 100%;
        height: 30px;
      }

      .filter-select {
        height: 30px;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}

#close-sidemenu {
  @media screen and (max-width: $medium) {
    position: absolute;
  }
}
